:root {
    --gold: #ffdd00;
    --red: #d71921;
    --light_blue: #0078d7;
    --dark_blue: #006abe;
    --white: #ffffff;
}

.text--gold {
    color: var(--gold);
}
.section-container {
    margin: 20px;
    border: 3px solid black;
    box-shadow: 8px 10px 24px -6px rgba(0, 0, 0, 0.5);
}

.sigma-color {
    border-color: var(--red);
}

.casto-color {
    border-color: var(--dark_blue);
}

.section-container__header {
    width: 100%;
    padding: 16px 0;
    background: var(--red);
    color: var(--white);
    text-align: center;
    font-weight: 900;
    
}

.section-container__header--casto {
    background: var(--dark_blue);
}

.section-links__container {
    display: flex;
    flex-wrap: wrap;
    background: var(--white);
}



.btn--red {
    background-color: var(--red);
    border-color: var(--red);
}