.task {
  background-color: var(--white);
  border: 3px solid var(--light_blue);
  margin: 36px auto;
  box-shadow: 8px 10px 24px -6px rgba(0, 0, 0, 0.5);
  &__header {
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 16px;
    background: var(--light_blue);
    color: #ffd700;
  }
  .task-content-divide-half {
    display: flex;
    justify-content: space-between;
  }
  .half {
    width:45%;
  }
  &__description {
    padding: 16px;
    h3 {
      color: var(--light_blue);
    }
    &-more {
      padding-left: 16px;
    }
  }
}

.link-to-shop {
  color: var(--light_blue);
}
